@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin homeTitlesFont {
  text-transform: capitalize;
  font-size: 2rem;
  font-family: Leelawadee-Bold, Arial;
  font-weight: bold;
  line-height: 1.2;
}

@mixin inheritFontAndColor{
  font-family: inherit;
  font-size: inherit;
  background-color: inherit;
  color: inherit;
}

@mixin cInput{
  font-family: inherit;
  color: inherit;
  border-radius: 4px;
  height: 1.5rem;
  border: 1px solid $color-light-gray;
  background-color: $color-white;
}

@mixin linkButton{
  text-decoration: none;
  padding: 1rem;
  padding-bottom: .85rem;
  display: inline-block;
  border-radius: 4px;
  position: relative;
  line-height: 1;
  border: none;
  cursor: pointer;
}

// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };    //600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content };     //900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    }
}

////////////////////////////////////////////////////////////////////////////////
// animation
@mixin defaultAnimation (){
  animation: toVisible .3s ease-out;
  animation-fill-mode: backwards;
}

@mixin rightAngle(){
  font-size: 1rem;
  content: ">";
  transform: scaleX(2) scaleY(3);
  font-style: normal;
  position: absolute;
  right: 10px;
}

@mixin monoFont(){
  font-family: Consolas, Monospace, Moncaco;
}
