// COLORS
$color-secondary-light: #5D564B;
$color-secondary-dark: #5D564B;
$color-tertiary-light: #009F6B;
$color-tertiary-dark: #17213C;

$color-light-gray: #E8E8E8;
$color-light-gray-2: #B2B2B2;
$color-light-gray-3: #888888;
$color-light-gray-4: #F5F5F5;
$color-light-gray-5: #E5E5E5;
$color-light-gray-6: #C5C5C5;
$color-light-gray-7: #E0E0E0;
$color-light-gray-8: #eeeeee;
$color-light-gray-9: #5D5D5D;

$color-white: #fff;
$color-black: #000;
$color-red: #FF0000;
$color-darkred:darkred;
$color-green: #09BB07;
$color-blue-light: #6A7FA6;
$color-blue-sky: #27EDFF;
$color-blue: #009CFF;

$color-dark-orange: #FA8C16;

$color-prog-start: #FF9000;
$color-prog-end: #03E800;

// FONT
$default-font-size: 1.6rem;

// LENGTH
$container-width: 66.666666rem;
$container-width-tab-land: 66.666666rem;
$container-width-tab-port: 95vw;
$container-width-phone: 95vw;

$index-section-header-content-width: 28.3rem;

