.navbar {
  @include respond(tab-port){
    background-color: $color-black;
    color: $color-white;
    position: relative;
  }
  &__body{
    padding: 0 calc((100vw - #{$container-width}) / 2);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include respond(tab-land){
      width: $container-width-tab-land;
    }
    @include respond(tab-port){
      width: $container-width-tab-port;
      height: 4.4rem;
    }
    @include respond(phone){
      width: $container-width-phone;
    }
  }
  
  .navbar-menu-holder{
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin-left: 3.8rem;
    @include respond(phone){
      margin-left: 1rem;
    }
  }
  
  .navbar-menu-left{
    display: flex;
  }

  .navbar-menu-right{
    display: flex;
    align-items: center;
    &__language{
      @include inheritFontAndColor;
      border: 0;
      &:focus{
        outline: none;
      }
      &--option{
        font-size: 1rem;
        color: var(--color-primary);
      }
    }
  }

  .navbar-menu-item{
    font-size: 0.8rem;
    line-height:5rem;
    text-transform: uppercase;
    position: relative;
    display: flex;
    justify-content: center;
    width: 5rem;
    
    &:not(:last-child){
      /* padding-right: 2rem; */
      @include respond(tab-port){
        padding-right: 0.5rem;
      }
    }

    & > a {
      display: block;
      height: 100%; 
      
      &,
      &:link,
      &:visited{
        text-decoration: none; 
      } 
    }
  }
  
  &-logo-box{
    display: flex;
    align-items: center;
  }
  
  .navbar-logo{
    width: 10.45rem;
    @include respond(tab-port){
      display: none;
    }
  }


  &__menu__button{
    display: none;
  }
  
  &__menu-icon{
    width: 2.2rem;
    height: 1.3rem;
    fill: currentColor;
    display: none;
    cursor: pointer;
  }

  &__page-title{
    display:none;
  }

  &__checkbox{
    display:none;
  }


  &__expand{
    position: absolute;
    padding-left: 1.6rem;
    padding-top: 1.75rem;
    z-index: 150000;
    width: 100%;
    top: 4.4rem;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
    opacity: 0;
    visibility: hidden;
    transition: all .1s ease-out;
    & > * {
      @include homeTitlesFont;
      font-size: 1.7rem;
      padding-bottom: 1.85rem; 
    }

    &-link{
      &,
      &:link,
      &:visited{
        text-decoration: none;
        color: $color-white;
      }
      
      &:hover{
        color: var(--color-primary-light);
      }

      &--active{
        color: var(--color-primary-light) !important;
      }
    }
  }
  
  // adapt to mobile
  @include respond(tab-port){
    &__checkbox:checked ~ &__expand{
      opacity: 1;
      visibility: visible;
      transition: all .1s ease-out;
    }
    
    
    
    &__menu__button{
      display: block;
    }
    
    &__menu-icon{
      display: block;
    }

    &__page-title{
      display:block;
      @include homeTitlesFont;
      font-size: 1.7rem;
    }
    
    &-menu-left{
      display: none !important;
    }

    &-menu-holder{
      flex: 0 !important;
      margin-left: 0 !important;
    }
  }
}


.navbar-inverse{
  background-color: $color-black;
  color: $color-white;
  
  .navbar-menu__link{
    color: $color-white;
    transition: all .1s ease-out;

    &:hover,
    &--active{
      color: var(--color-primary-light) !important;
      font-weight: 700;
    }

    
    &:hover{
      transform: translateX(.5px) translateY(-1px);
    }
  }
}


.navbar-bright {
  .navbar-menu__link{
    color: $color-secondary-dark;
    transition: all .05s ease-out;
    
    &:hover, &--active{
      color: $color-black !important;
      font-weight: 700;
      
    }

    &:hover{
      transform: translateX(.5px) translateY(-1px);
    }
  }
}
