.header{
  &__right-links{
    display:flex;
    align-items:center;
    justify-content: flex-end;
    & > a{
      color: $color-white !important;
    }
  }

  &__admin-link{
    margin-right: 1rem;
    
  }
}
