.mblog{
  &__menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & > *{
      padding: .4rem;
    }
    
    &--act-selection{
    }
  }

  &__query-btn{
    display:flex;
    justify-content: flex-end;
  }
}
