.seller{
  display:flex;
  flex-direction: column;

  h3{
    margin-top: 1rem;
  }
  
  
  &__details > input{
    @include cInput;
    width: 20rem;
  }

  &__label{
    font-weight:bold;
    margin-top: 1rem;
    margin-bottom: .5rem;
  }

  &__btn-group{
    margin-top:1rem;
    & > a{
      margin-right: 1rem;
    }
  }
}

.seller-list{
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;

  & > *{
    margin-top:.5rem;
    border-bottom: 1px solid $color-light-gray-3;
    padding-bottom: .25rem;
  }
  &__header{
    font-weight:bold;
  }

  &__edit-item{
    font-weight:bold;
    visibility: hidden;
    opacity: 0;
    transition: all .1s ease-out;
  }

  &:hover a{
    visibility: visible;
    opacity: 1;
  }

  
}
