.seller{
  display:flex;
  flex-direction: column;
  padding-top: 1rem;

  h3{
    margin-top: 1rem;
  }
  
  
  &__details > input{
    @include cInput;
    width: 100%;
  }

  &__details > textarea{
    @include cInput;
    width: 100%;
    height: 6rem;
  }

  &__label{
    font-weight:bold;
    margin-top: 1rem;
    margin-bottom: .5rem;
  }

  &__btn-group{
    margin-top:1rem;
    & > a{
      margin-right: 1rem;
    }
  }
}

.seller-list{
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;

  & > *{
    margin-top:.5rem;
    border-bottom: 1px solid $color-light-gray-3;
    padding-bottom: .25rem;
  }
  &__header{
    font-weight:bold;
  }

  &__edit-item{
    font-weight:bold;
    visibility: hidden;
    opacity: 0;
    transition: all .1s ease-out;
  }

  &:hover a{
    visibility: visible;
    opacity: 1;
  }

  
}


.prod{
  display:flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 2rem;

  h3{
    margin-top: 1rem;
  }
  
  
  &__details > input,
  &__details > select {
    @include cInput;
    width: 100%;
  }

  &__details > select{
    background-color: $color-white;
  }
  
  &__details > textarea{
    @include cInput;
    width: 100%;
    height: 6rem;
  }

  &__label{
    font-weight:bold;
    margin-top: 1rem;
    margin-bottom: .5rem;
  }

  &__btn-group{
    margin-top:1rem;
    display:flex;
    justify-content: flex-end;
    & > a{
      margin-left: 1rem;
    }
  }

  &__cover-img{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    & > img{
      width: 100%;
      cursor: crosshair;
    }
  }

  &__content-img{
    display: grid;
    width: 100%;
    grip-template-columns: 1fr;
    grid-gap: 1rem;
    & > img{
      width: 100%;
    }
  }

  &__tag-editor{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    & > input{
      @include cInput;
    }

    & > * {
      &:not(:last-child){
        margin-right: 1rem;
      }
    }
  }

  &__tag-editor-tag{
    border: 1px solid $color-light-gray;
    padding: 1rem;
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: crosshair;
  }

  &__list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }
  
  &__item{
    display: flex;
    justify-content: flex-start;
    flex-direction:column;
    align-items: center;
    border: 1px solid transparent;
    padding: 4px;
    border-radius: 4px;
    
    & > img{
      width: 100%;
    }

    &:hover{
      border: 1px solid $color-tertiary-light;
    }
  }

  &__top-list{
    display: flex;
    justify-content: space-between; 
  }

  &__top-item{
    width: 4rem;
    height: 2rem;
    background-color: $color-light-gray;
    border-radius: 4px;
    display: flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    &--active{
      background-color: $color-tertiary-light;
    }

    &--taken{
      background-color: $color-light-gray-3;
    }
  }
}

.order{
  display:flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 2rem;

  &__item{
    display: grid;
    grid-template-columns:  2fr 1fr 2fr 2fr 3fr;
    grid-gap: .5rem;
    &--head{
      font-weight:bold;
      border-bottom: 1px solid $color-light-gray;
    }
    &--return{
      grid-template-columns:  3fr 1fr 3fr 1fr 2fr 3fr;
    }
  }

  &__paginator{
    display: flex;
    justify-content:space-between;
    margin-top: 1rem;
    & > input {
      @include cInput;
      width: 4rem;
      text-align:center;
    }

    &--disabled{
      color: $color-secondary-light;
      cursor: not-allowed;
    }
  }

  &__query{
    display:flex;
    margin-bottom: 2rem;
    align-items:center;
    
    & select{
      @include cInput;
      min-width: 8rem;
      margin-left: 1rem;
    }
  }
}

.order-edit{
  margin-top: 1rem;
  padding-bottom: 4rem;

  &__fields{
    display:grid;
    grid-template-columns: 6rem 1fr;
    align-items:center;
    grid-row-gap: 1rem;
    margin-bottom: 2rem;
  }
  
  &__field{
    font-weight:bold;

    &--editable{
      display: flex;
      justify-content: flex-start;
      & > * {
        &:not(:last-child){
          margin-right: 1rem;
        }
      }
      & > select{
        width: 5rem !important;
      }
    }
  }
  
  input,
  select {
    @include cInput;
    width: 100%;
  }

  select{
    background-color: $color-white;
  }
  
  textarea{
    @include cInput;
    width: 100%;
    height: 6rem;
  }

  &__label{
    color: $color-secondary-dark;
  }

  &__btn-group{
    margin-top:1rem;
    margin-bottom:2rem;
    display:flex;
    justify-content: flex-start;
    & > a{
      margin-right: 1rem;
    }
  }

  &__product-title{
    font-weight: bold;
    font-size: 1.2rem;
    text-align:right;
  }

  &__shipment{
    margin-top: 1rem;
    margin-bottom: 2rem;
    border: 1px solid lightgray;
    padding: 1rem;
    border-radius: 4px;
  }
}
