.um{
  &__head-opts{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1rem;
    align-items:center; 

    & > input{
      border:none;
      border-bottom: 1px solid $color-black;
    }

    &--left{
      display:flex;
      justify-content: space-between;
      &> * {
        display: block;
      }
    }

    &--right{
      margin-left: auto;
    }

    &--stat{
      grid-row: 1 / 4 ;
      grid-column: 2 /3 ;
    }
  }

  &__row{
    margin-bottom: 1rem;
    margin-top: .5rem;
    display: flex;
    align-items:center;
    justify-content: space-between;
    max-width: 25rem;
  }

  &__label{
    font-weight:bold;
    font-size:.8rem;
  }

  &__input{
    @include cInput;
  }

  &__btn-group{
    display:flex;

    & > a {
      margin-right: 2rem;
    }
  }


  &__head-stat{
    display:flex;
    flex-direction:column;
    padding: .5rem;
    border: 1px solid $color-light-gray;
    border-radius: 4px;
  }
}

.app-msg{
  overflow-y: scroll;

  &--dialog{
    padding: 1rem;
    width: 80vw;
    background: #fff;
    position: absolute;
    left: 10vw;
    top: 10vh;
    height: 80vh;
  }
  
  & > textarea, & > input{
    width: 100%; 
    @include cInput; 
  }

  & > input{
    margin-bottom: 1rem;
    height: 2rem;
  }
  
  & > textarea{
    height: 20vh;
  }

  &__list{
    width: 90%;
    margin-left: 5%; 
  }

  &__list-item{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom: .5rem;
    border-bottom: 1px solid $color-light-gray;
    & > *{
      &:not(:last-child){
        margin-right: .5rem;
      }
    }
  }

  &__list-item-date{
    font-size: .8rem;
    font-weight: bold;
  }

  &__list-item-delete{
    &,&:link,&:visited{
      color: var(--color-primary);
    }
  }

  &__list-item-msg{
    width: 15rem;
    &--title{
      font-weight:bold;
    }
  }

  &__btn-group{
    display:flex;
    justify-content: space-around;
    margin-bottom: 1rem;
  }

  &__send-msg-head{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: .5rem;
  }

  &__img{
    max-width: 100%;
    max-height: 8rem;
  }
}

.mab{
  display:flex;
  flex-direction:column;

  h4{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  &__msg-list{
    
  }

  &__send{
    
  }

  &__btn-group {
    display:flex;
    justify-content: space-around;
  }
  
  &__send-body{
    display:grid;
    grid-template-columns:1;
    grid-row-gap: 1rem;
    margin-bottom: 1rem;

    & input, & textarea{
      @include cInput;
    }

    & textarea{
      height: 6rem;
    }
    
  }

  &__jpush-notify{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    & > input{
      width: 1rem;
      height: 1rem;
      margin-left: 2rem;
    }
  }

  &__img{
    max-width: 100%;
    max-height: 8rem;
  }
}

.umjf{
  display:flex;
  flex-direction:column;

  &__title{
    margin-bottom: 1rem;
  }
  
  &__body{
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-row-gap: .5rem;

    input{
      @include cInput;
    }
  }

  &__btn-group{
    grid-column-start: 1;
    grid-column-end: 3;
    display:flex;
    justify-content: space-around;
  }

  &__phone-search{
    display: flex;
    & > input{
      flex: 1;
    }
  }

  &__return-btn{
    margin-bottom: 1rem;
  }
  &__top-nav{
    display:flex;
    align-items: center;
    margin-bottom: 1rem;
    & > * {
      &:not(:last-child){
        margin-right: 1rem;
      }
    }
  }

  &__top-nav-btn{
    &:hover, &--active{
      font-weight: bold;
    }
  }

  &__code-row{
    display: grid;
    grid-template-columns: 3fr 2fr 1fr 4fr;
    grid-row-gap: 1rem;
    grid-column-gap: .2rem;
  }

  &__review-ops-btn-group{
    display:flex;
    & > a{
      &:hover{
        font-weight: bold;
      }
      &:not(:last-child){
        margin-right: 1rem;
      }
    } 
  }

  &__score-input{
    @include cInput;
  }

  &__coupon-row{
    display: grid;
    grid-template-columns: 2fr 3fr 2fr 3fr;
    grid-column-gap: .2rem;
    margin-bottom: .2rem;
    align-items:center;

    &--header{
      font-weight: bold;
    }
  }

}
