.um{
  &__head-opts{
    display:flex;
    justify-content: space-between;
    align-items:center;

    & > input{
      border:none;
      border-bottom: 1px solid $color-black;
    }
  }
  &__add-user{
    margin-left:auto;
    font-size: .8rem;
  }

  &__row{
    margin-bottom: 1rem;
    margin-top: .5rem;
    display: flex;
    align-items:center;
    justify-content: space-between;
    max-width: 25rem;
  }

  &__label{
    font-weight:bold;
    font-size:.8rem;
  }

  &__input{
    @include cInput;
  }

  &__btn-group{
    display:flex;

    & > a {
      margin-right: 2rem;
    }
  }
  
}
